/* CSS Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Global CSS */

* {
  font-family: "Work Sans", sans-serif;
}

html {
  background-color: #0c0f38;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

li {
  list-style-type: none;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #6fe7fc;
  display: inline-block;
  color: #0c0f38;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #6fe7fc;
}

.btn--alt {
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(red, green, blue, 0%);
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #ffffff;
}

.btn,
.btn--alt,
.nav__link {
  cursor: pointer;
}

/* Variables */
:root {
  --blue: #3a9beb;
  --sky-blue: #5bc6f3;
  --aqua: #6ee8fc;
  --purple: #8167f6;
  --pink: #d5088c;
  --magenta: #a420aa;
}

/* Header styles */

.header .container {
  height: 85px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 175px;
}

.nav__link {
  display: inline;
  margin: 0px 15px;
  font-size: 16px;
}

.header__btn {
  font-size: 15px;
  padding: 5px 15px;
  margin-left: 15px;
}

/* Hero styles */

.hero .container {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 660px;
}

.hero__sub-title h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero__main-title h2 {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 40px;
}

.hero__desc p {
  font-size: 18px;
  line-height: 35px;
}

.hero__img {
  width: 600px;
}

.hero__btn {
  margin-top: 40px;
}

.hero__btn--alt {
  margin-top: 40px;
  margin-left: 20px;
}

/* Pricing styles */

.pricing {
  height: inherit;
  padding: 100px 0px;
  background-color: #141742;
}

.pricing__main-title h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.pricing__sub-title h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

h2 .packages {
  display: flex;
  justify-content: space-between;
}

.packages {
  display: flex;
  margin-top: 60px;
}

.package {
  width: 350px;
  background-color: #0c0f38;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px 20px 40px 20px;
  border-radius: 5px;
  border: 1px solid var(--blue);
}

.package img {
  width: 250px;
}

.package__name h3 {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  margin: 5px 0px 5px 0px;
}

.package__price h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.package__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
