/* CSS Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Global CSS */

* {
  font-family: "Work Sans", sans-serif;
}

html {
  background-color: #0c0f38;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

li {
  list-style-type: none;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #6fe7fc;
  display: inline-block;
  color: #0c0f38;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #6fe7fc;
}

.btn--alt {
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(red, green, blue, 0%);
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #ffffff;
}

.btn,
.btn--alt,
.nav__link {
  cursor: pointer;
}

/* Variables */
:root {
  --blue: #3a9beb;
  --sky-blue: #5bc6f3;
  --aqua: #6ee8fc;
  --purple: #8167f6;
  --pink: #d5088c;
  --magenta: #a420aa;
}

/* Header styles */

.header {
  transition: all 0.8s ease;
  position: absolute;
  min-width: 100%;

  z-index: 999;
}

.header.sticky {
  transition: all 0.8s ease;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  position: fixed;
  max-width: ;
}

.header.sticky .header__logo {
  transition: all 0.8s ease;
  width: 125px;
}

.header.sticky .container {
  transition: all 0.8s ease;
  height: 80px;
}

.header .container {
  transition: all 0.8s ease;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  transition: all 0.8s ease;
  width: 175px;
}

.nav__link {
  display: inline;
  margin: 0px 15px;
  font-size: 16px;
}

.header__btn {
  font-size: 15px;
  padding: 5px 15px;
  margin-left: 15px;
}

/* Hero styles */

.hero .container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 660px;
}

.hero__sub-title h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero__main-title h2 {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 40px;
}

.hero__desc p {
  font-size: 18px;
  line-height: 35px;
}

.hero__img {
  width: 600px;
}

.hero__btn {
  margin-top: 40px;
}

.hero__btn--alt {
  margin-top: 40px;
  margin-left: 20px;
}

/* Pricing styles */

.pricing {
  height: inherit;
  padding: 100px 0px;
  background-color: #141742;
}

.pricing__main-title h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.pricing__sub-title h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

h2 .packages {
  display: flex;
  justify-content: space-between;
}

.packages {
  display: flex;
  margin-top: 60px;
}

.package {
  width: 350px;
  background-color: #0c0f38;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px 20px 40px 20px;
  border-radius: 5px;
  border: 1px solid var(--blue);
}

.package img {
  width: 250px;
}

.package__name h3 {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  margin: 5px 0px 5px 0px;
}

.package__price h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.package__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Review styles */

.reviews {
  padding: 100px 0px;
}

.reviews .container {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.testimonial {
  padding: 0px 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.testimonial-logo {
  width: 50px;
  align-self: center;
  margin-bottom: 50px;
}

.testimonial__para p {
  font-size: 30px;
  font-style: italic;
  line-height: 46px;
  text-align: center;
}

.testimonial__author span {
  font-size: 20px;
  display: block;
  margin-top: 20px;
  font-weight: 400;

  text-align: center;
}

.testimonial__company {
  text-align: center;
}

.testimonial__avatar {
  align-self: center;
  width: 100%;
}

.testimonial__avatar img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--aqua);
  margin: 75px auto 0px auto;
}

/* C2A Styles */

.c2a {
  background-color: #151742;
  padding: 100px;
}

.c2a .container {
  background-color: rgb(12, 15, 56);
  padding: 60px;
  border-radius: 5px;
  background: url(/assets/c2a-banner.png) rgb(12, 15, 56, 1);
  background-size: 325px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5%) calc(100% - 50%);
}

.c2a__title h3 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
}

.c2a__desc p {
  font-size: 18px;
  line-height: 35px;
  max-width: 700px;
}

.c2a__btn {
  margin-top: 40px;
}
