/* Media query styles */

@media (max-width: 480px) {
  /* Global styles */

  /* * {
    overflow-x: hidden;
  } */

  .container {
    max-width: 480px;
    margin: 0px auto;
  }

  /* Header styles */

  .header {
    padding: 0px 25px;
  }

  .nav__link {
    display: none;
  }

  /* Hero styles */

  .hero .container {
    height: auto;
    padding: 0px 25px 75px 25px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .hero__content {
    width: 100%;
  }

  .hero__sub-title h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .hero__main-title h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .hero__desc p {
    font-size: 18px;
    line-height: 35px;
  }

  .hero__img {
    width: 420px;
    padding: 140px 25px 60px 25px;
  }

  .hero__btn {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .hero__btn--alt {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  /* Pricing styles */

  .pricing .container {
    padding: 0px 25px;
  }

  .pricing__main-title h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
  }

  .pricing__sub-title h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }

  .packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  /* C2A Styles */

  .c2a {
    background-color: #151742;
    padding: 75px 25px;
  }

  .c2a .container {
    box-shadow: inset 0 0 0 2000px rgba(11, 15, 56, 0.856);
  }

  .c2a .container {
    background-color: rgb(12, 15, 56);
    padding: 30px;
    border-radius: 5px;
    background: url("/assets/c2a-banner-alt.png") rgb(12, 15, 56, 1);
    background-size: 625px;
    background-repeat: no-repeat;
    background-position: calc(110%) calc(100% - 58%);
  }

  .c2a__title h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  /* Testimonial Section */

  .reviews {
    padding: 100px 0px;
  }

  .reviews .container {
    width: inherit;
    display: flex;
    flex-direction: column;
  }

  .testimonial {
    padding: 0px 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .testimonial-logo {
    width: 50px;
    align-self: center;
    margin-bottom: 50px;
  }

  .testimonial__para p {
    font-size: 20px;
    font-style: italic;
    line-height: 46px;
    text-align: center;
  }

  .testimonial__author span {
    font-size: 20px;
    display: block;
    margin-top: 20px;
    font-weight: 400;

    text-align: center;
  }

  .testimonial__company {
    text-align: center;
  }

  .testimonial__avatar {
    align-self: center;
    width: 100%;
  }

  .testimonial__avatar img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--aqua);
    margin: 75px auto 0px auto;
  }
}
